# FEUP - AC
## Banking - Predicting a Loan Outcome

### Business understanding

##### Analysis of requirements with the end user
Text

##### Definition of business goals
Text

##### Translation of business goals into data mining goals
Text

### Exploratory data analysis

Let us start by importing the datasets.

In [50]:
import pandas as pd
import numpy as np

# Global settings
pd.set_option('display.max_columns', None)

COMP_DATA_SOURCE = "comp_data/"
DEV_DATA_SOURCE = "dev_data/"

# Read in the data; merge data for tables other than loans since they do not influence merges
accounts = pd.read_csv(DEV_DATA_SOURCE + 'account.csv', sep=';')

cards_dev = pd.read_csv(DEV_DATA_SOURCE + 'card.csv', sep=';')
cards_comp = pd.read_csv(COMP_DATA_SOURCE + 'card.csv', sep=';')
cards = pd.concat([cards_dev, cards_comp])

clients = pd.read_csv(DEV_DATA_SOURCE + 'client.csv', sep=';')

dispositions = pd.read_csv(DEV_DATA_SOURCE + 'disp.csv', sep=';')

districts = pd.read_csv(DEV_DATA_SOURCE + 'district.csv', sep=';')

transactions_dev = pd.read_csv(DEV_DATA_SOURCE + 'trans.csv', sep=';')
transactions_comp = pd.read_csv(COMP_DATA_SOURCE + 'trans.csv', sep=';')
transactions = pd.concat([transactions_dev, transactions_comp])

loans_dev = pd.read_csv(DEV_DATA_SOURCE + 'loan.csv', sep=';')
loans_comp = pd.read_csv(COMP_DATA_SOURCE + 'loan.csv', sep=';')

loans_dev.head()

   loan_id  account_id    date  amount  duration  payments  status
0     5314        1787  930705   96396        12      8033      -1
1     5316        1801  930711  165960        36      4610       1
2     6863        9188  930728  127080        60      2118       1
3     5325        1843  930803  105804        36      2939       1
4     7240       11013  930906  274740        60      4579       1

Plenty of analysis with graphs, distributions, outliers...

### Data preprocessing

Text

#### Processing accounts

The account spreadsheet relates it with the district and date in which it was created, as well with the frequency of issuance of statements with the owner.

The date comes in the from YYMMDD, which is easily extractable to the three different columns that it is aggregating. This will aid the model in detecting important patterns in the year of creation, for example, indicating a global economic crisis or prosperity when the person has created the account.

In [51]:
import src.preprocess.accounts as accpp
accounts = accpp.preprocess_accounts(accounts)
accounts.head()

,account_id,district_id,account_frequency,account_year,account_month,account_day
0,576,55,monthly issuance,93,1,1
1,3818,74,monthly issuance,93,1,1
2,704,55,monthly issuance,93,1,1
3,2378,16,monthly issuance,93,1,1
4,2632,24,monthly issuance,93,1,2

#### Processing credit cards

In the credit cards relation, the same concept applies to the date of issuance.

MORE TEXT

In [52]:
from src.preprocess.cards import preprocess_cards

cards = preprocess_cards(cards)
cards.head()

   card_id  disp_id     type  year  month  day
0     1005     9285  classic    93     11    7
1      104      588  classic    94      1   19
2      747     4915  classic    94      2    5
3       70      439  classic    94      2    8
4      577     3687  classic    94      2   15

#### Processing clients

In the clients relation, two foreign references and a date appear once again. However, regarding the latter one, there is an important difference: the day is the actual day plus fifty, if the client is a female, and so we can extract the gender too, here.

In [53]:
from src.preprocess.clients import preprocess_clients

clients = preprocess_clients(clients)
clients.head()

   client_id  district_id  year  month  day  gender
0          1           18    70     12   13  female
1          2            1    45      2    4    male
2          3            1    40     10    9  female
3          4            5    56     12    1    male
4          5            5    60      7    3  female

#### Processing dispositions

The disposition describes the rights of clients to operate accounts: only "owners" can ask for loans and issue permanent orders.

There is no clear way to merge this table with loans later on, since the loans table does not refer the disposition used for the loan. Instead, let's focus on the number of dispositions and the ratio of owners of an account, which will give an impression of the nature of the people able to control the account. All humans fight and cheat on each other, or build trust together. Let's discover that pattern in Czech Republic.

In [54]:
from src.preprocess.dispositions import preprocess_dispositions
dispositions = preprocess_dispositions(dispositions)
dispositions.head()

   disp_id  client_id  account_id       type  number_account_dispositions
0        1          1           1      OWNER                            1
1        2          2           2      OWNER                            2
2        3          3           2  DISPONENT                            2
3        4          4           3      OWNER                            2
4        5          5           3  DISPONENT                            2

#### Processing districts

The districts relation is quite dense, describing the demographic data of a region. We can extract interesting measures here:

- The commited crimes growth ratio, derived from the evolution of the number of crimes from '95 to '96
- The unemployment rate growth ratio, derived from the evolution of the employment rate from '95 to '96

We also acknowledged that there was one region where the number of crimes and unemployment rate in '95 was not known (`?` was the appearance in the respective column). In order not to discard the entire region data, we'll simply assume that number to be the same as the matching record in '96.

In [55]:
from src.preprocess.districts import preprocess_districts
districts = preprocess_districts(districts)
districts.head()

,district_id,district_no_inhabitants,district_no_cities,district_urban_inhabitants_ratio,district_average_salary,district_unemployment_rate,districts_entrepreneurs_ratio,district_crimes_per_inhabitant,district_crime_growth,district_unemploymant_growth
0,1,1204953,1,100.0,12541,0.43,0.167,0.082250,1.156752,1.482759
1,2,88884,5,46.7,8507,1.85,0.132,0.030084,1.238536,1.107784
2,3,75232,5,41.7,8980,2.21,0.111,0.037391,0.996105,1.133333
3,4,149893,6,67.4,9753,5.05,0.109,0.039308,1.123570,1.088362
4,5,95616,6,51.4,9307,4.43,0.118,0.031794,1.162080,1.150649

#### Processing loans

The loans relation references an account and the date of loan, which can be extracted. The duration seems to be in months, so let us improve the name of the column. The amounts seems to be in `Czech korunas`, the czech currency, as hinted by the list of regions; we'll convert it to euros for better visualization and understanding of the upcoming results.

In [56]:
from src.preprocess.loans import preprocess_loans
loans_comp = preprocess_loans(loans_comp)
loans_dev = preprocess_loans(loans_dev)
loans_dev.head()

,loan_id,account_id,amount,duration_months,monthly_payment,status,year,month,day
0,5314,1787,3950.66,12,329.22,-1,93,7,5
1,5316,1801,6801.64,36,188.93,1,93,7,11
2,6863,9188,5208.20,60,86.80,1,93,7,28
3,5325,1843,4336.23,36,120.45,1,93,8,3
4,7240,11013,11259.84,60,187.66,1,93,9,6

#### Processing transactions

This table contains a lot of information that we cannot directly relate to a loan.

Let us first extract the date and make the withdrawal amounts actually negative, to give the model an impression of the direction of the money flow in and out of the bank.

For now, let us extract some statistical data related to the accounts, which we'll relate to the loans table.

In [57]:
from src.preprocess.transactions import preprocess_transactions
transactions = preprocess_transactions(transactions)

transactions.head()

,trans_id,account_id,type,operation,amount,balance,k_symbol,bank,account,year,month,day
0,1548749,5270,credit,credit in cash,32.79,32.79,NaN,NaN,NaN,93,1,13
1,1548750,5270,credit,collection from another bank,1833.98,1866.76,NaN,IJ,80269753.0,93,1,14
2,3393738,11265,credit,credit in cash,40.98,40.98,NaN,NaN,NaN,93,1,14
3,3122924,10364,credit,credit in cash,45.08,45.08,NaN,NaN,NaN,93,1,17
4,1121963,3834,credit,credit in cash,28.69,28.69,NaN,NaN,NaN,93,1,19

#### Feature engineering

Text

##### Getting the average account balance based on the transactions

In [58]:
from src.feature_engineering.merge import merge_account_transactions
accounts = merge_account_transactions(accounts, transactions)
accounts.head(50)

,account_id,district_id,account_frequency,account_year,account_month,account_day,average_account_credit_per_month,average_account_debit_per_month,average_account_balance_per_month
0,576,55,monthly issuance,93,1,1,1035.715833,904.202500,999.522185
1,3818,74,monthly issuance,93,1,1,3151.655833,2984.252500,1767.192783
2,704,55,monthly issuance,93,1,1,3142.233333,3003.023333,1430.753626
3,2378,16,monthly issuance,93,1,1,7309.517500,6997.125833,2333.499442
4,2632,24,monthly issuance,93,1,2,2577.331667,2486.182500,1324.460590
5,1972,77,monthly issuance,93,1,2,883.964167,792.201667,923.907229
6,1539,1,issuance after transaction,93,1,3,4044.915000,4010.747500,1034.257598
7,793,47,monthly issuance,93,1,3,575.238333,479.689167,978.297846
8,2484,74,monthly issuance,93,1,3,2669.864167,2592.596667,1304.756920
9,1695,76,monthly issuance,93,1,3,5946.183333,5640.082500,2110.171398
10,1726,48,monthly issuance,93,1,3,2589.012500,2489.110833,1065.605467
11,2881,70,monthly issuance,93,1,4,1603.767500,1441.523333,1311.684418
12,2357,19,monthly issuance,93,1,4,1072.726667,975.464167,935.639049
13,2177,62,monthly issuance,93,1,4,856.519167,802.597500,906.879801
14,485,6,issuance after transaction,93,1,4,5707.926667,5519.650000,1853.833497
15,652,21,monthly issuance,93,1,5,2552.178333,2365.543333,1746.573416
16,9635,70,monthly issuance,93,1,5,741.680833,694.351667,313.422607
17,1844,44,monthly issuance,93,1,6,549.310000,434.948333,1035.466958
18,1926,37,monthly issuance,93,1,6,1012.665833,957.310000,880.799437
19,2393,10,monthly issuance,93,1,7,2000.087500,1891.048333,1234.285781
20,3510,41,monthly issuance,93,1,7,6481.778333,6298.800833,2591.386257
21,1276,36,monthly issuance,93,1,7,1391.690833,1262.046667,1183.785973
22,1637,1,monthly issuance,93,1,8,952.917500,857.631667,861.979683
23,3871,26,monthly issuance,93,1,8,719.396667,604.928333,1290.621251
24,192,55,monthly issuance,93,1,8,956.250833,861.215000,1018.088532
25,764,1,monthly issuance,93,1,8,1020.962500,950.986667,1063.464398
26,2087,7,weekly issuance,93,1,8,4849.629167,4741.325000,2043.374326
27,2122,68,monthly issuance,93,1,8,5871.739167,5779.762500,2180.376537
28,3592,54,monthly issuance,93,1,8,1002.065833,939.274167,995.706076
29,3487,41,monthly issuance,93,1,8,2908.670833,2715.401667,1621.246545
30,435,38,monthly issuance,93,1,8,823.735000,723.909167,866.507034
31,1730,1,monthly issuance,93,1,9,1097.425833,938.247500,1328.523467
32,1493,41,monthly issuance,93,1,9,835.097500,776.272500,821.853730
33,374,38,monthly issuance,93,1,9,4099.247500,3900.197500,1880.960368
34,2925,1,monthly issuance,93,1,10,1297.050833,1239.125833,1150.923764
35,866,9,monthly issuance,93,1,10,2336.025000,2196.877500,1451.170339
36,1628,60,monthly issuance,93,1,10,714.585000,642.454167,693.720632
37,2379,44,monthly issuance,93,1,10,1020.432500,971.385833,864.304947
38,1979,26,monthly issuance,93,1,11,500.926667,422.393333,846.934725
39,346,37,monthly issuance,93,1,11,3528.414167,3349.245000,1774.616406
40,1338,74,monthly issuance,93,1,11,5437.877500,5166.127500,1858.689347
41,1909,14,monthly issuance,93,1,12,526.822500,464.372500,812.773109
42,2099,3,weekly issuance,93,1,12,5687.980833,5461.460000,2492.065300
43,3760,44,monthly issuance,93,1,13,5713.510833,5578.065000,2130.701483
44,5270,44,monthly issuance,93,1,13,1931.012727,1698.920000,2839.142413
45,1699,53,monthly issuance,93,1,14,852.181667,801.916667,759.337956
46,3909,1,monthly issuance,93,1,14,4284.282500,4146.532500,1814.209602
47,2926,50,monthly issuance,93,1,14,1974.610833,1816.555833,1541.435910
48,1731,33,monthly issuance,93,1,14,776.372500,685.910833,829.754117
49,11265,15,monthly issuance,93,1,14,411.586667,406.065714,865.106753

##### Clusters

In [59]:
import src.stats.clusters as clusters
#clusters.cluster_monthly_payment_per_loan_amount(loans_dev)
#clusters.cluster_monthly_payment_per_loan_amount(loans_comp)

In [60]:
table = clusters.cluster_transactions(transactions)
accounts = pd.merge(accounts, table, on='account_id', how='left')
accounts.head()

(3724, 10)

,account_id,district_id,account_frequency,account_year,account_month,account_day,average_account_credit_per_month,average_account_debit_per_month,average_account_balance_per_month,transaction_profile
0,576,55,monthly issuance,93,1,1,1035.715833,904.202500,999.522185,2.0
1,3818,74,monthly issuance,93,1,1,3151.655833,2984.252500,1767.192783,3.0
2,704,55,monthly issuance,93,1,1,3142.233333,3003.023333,1430.753626,3.0
3,2378,16,monthly issuance,93,1,1,7309.517500,6997.125833,2333.499442,2.0
4,2632,24,monthly issuance,93,1,2,2577.331667,2486.182500,1324.460590,3.0

In [61]:
new_districts_table = clusters.cluster_districts(districts)
print(districts.shape)
print(new_districts_table.shape)

new_districts_table.head()

(77, 11)
(77, 3)

   district_id  districts_profile  district_average_salary
0            1                  1                    12541
1            2                  0                     8507
2            3                  8                     8980
3            4                  2                     9753
4            5                  0                     9307

#### Merging the data

The model will be working on the `loans` table, since the target variable belongs to it. The one foreign key of that table is `account_id`; so, to feed the model with more information about the context of the loan, we should relate concepts to the account for each table.

##### Relating clients to districts

In [62]:
import src.feature_engineering.merge as merge

clients = merge.merge_client_districts(clients, new_districts_table)
clients.rename(columns={'district_id': 'client_district_id'}, inplace=True)
clients.head()

,client_id,owner_district_id,year,month,day,gender,owner_districts_profile,owner_district_average_salary
0,1,18,70,12,13,female,8,8968
1,2,1,45,2,4,male,1,12541
2,3,1,40,10,9,female,1,12541
3,4,5,56,12,1,male,0,9307
4,5,5,60,7,3,female,0,9307

##### Relating dispositions to clients

In [63]:
dispositions = merge.merge_dispositions_clients(dispositions, clients)
dispositions.head()

,disp_id,account_id,type,number_account_dispositions,owner_district_id,client_year,client_month,client_day,client_gender,owner_districts_profile,owner_district_average_salary
0,1,1,OWNER,1,18,70,12,13,female,8,8968
1,2,2,OWNER,2,1,45,2,4,male,1,12541
2,3,2,DISPONENT,2,1,40,10,9,female,1,12541
3,4,3,OWNER,2,5,56,12,1,male,0,9307
4,5,3,DISPONENT,2,5,60,7,3,female,0,9307

##### Relating dispositions to cards

In [64]:
dispositions = merge.merge_dispositions_cards(dispositions, cards) # cards are not enough; too many nans, check and discard
dispositions.head()

,disp_id,account_id,type,number_account_dispositions,owner_district_id,client_year,client_month,client_day,client_gender,owner_districts_profile,owner_district_average_salary,card_type
0,1,1,OWNER,1,18,70,12,13,female,8,8968,missing
1,2,2,OWNER,2,1,45,2,4,male,1,12541,missing
2,3,2,DISPONENT,2,1,40,10,9,female,1,12541,missing
3,4,3,OWNER,2,5,56,12,1,male,0,9307,missing
4,5,3,DISPONENT,2,5,60,7,3,female,0,9307,missing

##### Relating owner dispositions to accounts

Only owners can ask for loans. This way, we can directly relate an account to its owner client.

In [65]:
accounts = merge.merge_account_dispositions(accounts, dispositions)
accounts.head()

,account_id,district_id,account_frequency,account_year,account_month,account_day,average_account_credit_per_month,average_account_debit_per_month,average_account_balance_per_month,transaction_profile,number_account_dispositions,owner_district_id,owner_year,owner_month,owner_day,owner_gender,owner_districts_profile,owner_district_average_salary,card_type
0,576,55,monthly issuance,93,1,1,1035.715833,904.202500,999.522185,2.0,2,74,36,1,11,female,3,10673,missing
1,3818,74,monthly issuance,93,1,1,3151.655833,2984.252500,1767.192783,3.0,2,1,35,4,2,male,1,12541,missing
2,704,55,monthly issuance,93,1,1,3142.233333,3003.023333,1430.753626,3.0,2,22,45,1,14,male,4,8620,missing
3,2378,16,monthly issuance,93,1,1,7309.517500,6997.125833,2333.499442,2.0,1,16,75,3,24,female,0,8427,missing
4,2632,24,monthly issuance,93,1,2,2577.331667,2486.182500,1324.460590,3.0,1,24,38,8,12,male,5,8991,missing

In [66]:
accounts = merge.merge_accounts_districts(accounts, new_districts_table)
accounts.rename(columns={'district_id': 'account_district_id'}, inplace=True)
accounts.head()

,account_id,account_district_id,account_frequency,account_year,account_month,account_day,average_account_credit_per_month,average_account_debit_per_month,average_account_balance_per_month,transaction_profile,number_account_dispositions,owner_district_id,owner_year,owner_month,owner_day,owner_gender,owner_districts_profile,owner_district_average_salary,card_type,account_districts_profile,account_district_average_salary
0,576,55,monthly issuance,93,1,1,1035.715833,904.202500,999.522185,2.0,2,74,36,1,11,female,3,10673,missing,2,8743
1,3818,74,monthly issuance,93,1,1,3151.655833,2984.252500,1767.192783,3.0,2,1,35,4,2,male,1,12541,missing,3,10673
2,704,55,monthly issuance,93,1,1,3142.233333,3003.023333,1430.753626,3.0,2,22,45,1,14,male,4,8620,missing,2,8743
3,2378,16,monthly issuance,93,1,1,7309.517500,6997.125833,2333.499442,2.0,1,16,75,3,24,female,0,8427,missing,0,8427
4,2632,24,monthly issuance,93,1,2,2577.331667,2486.182500,1324.460590,3.0,1,24,38,8,12,male,5,8991,missing,5,8991

##### Loading the loans table with data

In [67]:
accounts.rename(columns = {'year':'account_year', 'month':'account_month', 'day':'account_day', 'frequency': 'account_frequency', 'district_id': 'account_district_id'}, inplace=True)
loans_dev = loans_dev.merge(accounts, on="account_id", how="left")
loans_comp = loans_comp.merge(accounts, on="account_id", how="left")
loans_dev.drop(columns=['account_id'], inplace=True)
loans_comp.drop(columns=['account_id'], inplace=True)
loans_dev.head()

,loan_id,amount,duration_months,monthly_payment,status,year,month,day,account_district_id,account_frequency,account_year,account_month,account_day,average_account_credit_per_month,average_account_debit_per_month,average_account_balance_per_month,transaction_profile,number_account_dispositions,owner_district_id,owner_year,owner_month,owner_day,owner_gender,owner_districts_profile,owner_district_average_salary,card_type,account_districts_profile,account_district_average_salary
0,5314,3950.66,12,329.22,-1,93,7,5,30,weekly issuance,93,3,22,205.942500,0.000000,502.047500,4.0,1,30,47,7,22,female,0,9650,missing,0,9650
1,5316,6801.64,36,188.93,1,93,7,11,46,monthly issuance,93,2,13,1570.310000,1820.542500,1915.255852,4.0,1,46,68,7,22,male,9,8369,missing,9,8369
2,6863,5208.20,60,86.80,1,93,7,28,45,monthly issuance,93,2,8,513.293333,562.220000,1048.655833,4.0,1,45,36,6,2,male,8,8390,missing,8,8390
3,5325,4336.23,36,120.45,1,93,8,3,12,monthly issuance,93,1,30,704.387143,705.058000,1382.883963,4.0,1,14,40,4,20,female,2,10045,missing,9,8754
4,7240,11259.84,60,187.66,1,93,9,6,1,weekly issuance,93,2,14,1617.838571,1606.653333,2122.977279,4.0,1,63,78,9,7,male,0,8288,missing,1,12541

##### Feature selection and engineering on the loans table

In [68]:
import src.preprocess.util as utils
loans_dev['age_at_loan'] = loans_dev.apply(lambda row: utils.extract_age(row), axis=1)
loans_comp['age_at_loan'] = loans_comp.apply(lambda row: utils.extract_age(row), axis=1)

#loans_dev = loans_dev.drop(columns=["account_month", "account_day", "month", "day", "owner_day",\
#    "owner_month", "account_districts_profile", "owner_districts_profile", "transaction_profile", "account_district_average_salary", "owner_district_average_salary"])
#loans_comp = loans_comp.drop(columns=["account_month", "account_day", "month", "day", "owner_day", \
#    "owner_month", "account_districts_profile", "owner_districts_profile", "transaction_profile", "account_district_average_salary", "owner_district_average_salary"])

In [69]:
loans_dev.head(5)

,loan_id,amount,duration_months,monthly_payment,status,year,month,day,account_district_id,account_frequency,account_year,account_month,account_day,average_account_credit_per_month,average_account_debit_per_month,average_account_balance_per_month,transaction_profile,number_account_dispositions,owner_district_id,owner_year,owner_month,owner_day,owner_gender,owner_districts_profile,owner_district_average_salary,card_type,account_districts_profile,account_district_average_salary,age_at_loan
0,5314,3950.66,12,329.22,-1,93,7,5,30,weekly issuance,93,3,22,205.942500,0.000000,502.047500,4.0,1,30,47,7,22,female,0,9650,missing,0,9650,3
1,5316,6801.64,36,188.93,1,93,7,11,46,monthly issuance,93,2,13,1570.310000,1820.542500,1915.255852,4.0,1,46,68,7,22,male,9,8369,missing,9,8369,1
2,6863,5208.20,60,86.80,1,93,7,28,45,monthly issuance,93,2,8,513.293333,562.220000,1048.655833,4.0,1,45,36,6,2,male,8,8390,missing,8,8390,3
3,5325,4336.23,36,120.45,1,93,8,3,12,monthly issuance,93,1,30,704.387143,705.058000,1382.883963,4.0,1,14,40,4,20,female,2,10045,missing,9,8754,3
4,7240,11259.84,60,187.66,1,93,9,6,1,weekly issuance,93,2,14,1617.838571,1606.653333,2122.977279,4.0,1,63,78,9,7,male,0,8288,missing,1,12541,0

### Training the model

#### One hot encoding and missing values imputter

In [70]:
from sklearn.impute import SimpleImputer

print(len(loans_dev.columns) == len(loans_comp.columns))

loans_dev = utils.extract_categorical(loans_dev, "account_frequency")
loans_comp = utils.extract_categorical(loans_comp, "account_frequency")
loans_dev = utils.extract_categorical(loans_dev, "card_type")
loans_comp = utils.extract_categorical(loans_comp, "card_type")
loans_dev = utils.extract_categorical(loans_dev, "owner_gender")
loans_comp = utils.extract_categorical(loans_comp, "owner_gender")

loans_dev.head()

True

,loan_id,amount,duration_months,monthly_payment,status,year,month,day,account_district_id,account_year,account_month,account_day,average_account_credit_per_month,average_account_debit_per_month,average_account_balance_per_month,transaction_profile,number_account_dispositions,owner_district_id,owner_year,owner_month,owner_day,owner_districts_profile,owner_district_average_salary,account_districts_profile,account_district_average_salary,age_at_loan,issuance after transaction,monthly issuance,weekly issuance,classic,gold,junior,missing,female,male
0,5314,3950.66,12,329.22,-1,93,7,5,30,93,3,22,205.942500,0.000000,502.047500,4.0,1,30,47,7,22,0,9650,0,9650,3,0,0,1,0,0,0,1,1,0
1,5316,6801.64,36,188.93,1,93,7,11,46,93,2,13,1570.310000,1820.542500,1915.255852,4.0,1,46,68,7,22,9,8369,9,8369,1,0,1,0,0,0,0,1,0,1
2,6863,5208.20,60,86.80,1,93,7,28,45,93,2,8,513.293333,562.220000,1048.655833,4.0,1,45,36,6,2,8,8390,8,8390,3,0,1,0,0,0,0,1,0,1
3,5325,4336.23,36,120.45,1,93,8,3,12,93,1,30,704.387143,705.058000,1382.883963,4.0,1,14,40,4,20,2,10045,9,8754,3,0,1,0,0,0,0,1,1,0
4,7240,11259.84,60,187.66,1,93,9,6,1,93,2,14,1617.838571,1606.653333,2122.977279,4.0,1,63,78,9,7,0,8288,1,12541,0,0,0,1,0,0,0,1,0,1

#### Predicting and evaluating with the main model

Evaluate classification model performance with loans table

In [71]:
from sklearn.ensemble import *
from sklearn.feature_selection import *
from sklearn.metrics import *
from sklearn.model_selection import *
from sklearn.neighbors import *
from sklearn.svm import *
from sklearn.tree import *
from sklearn.linear_model import *
from sklearn.gaussian_process import *
from sklearn.naive_bayes import *
from sklearn.neural_network import *
from sklearn.preprocessing import *
from src.model.model import *

from sklearn.pipeline import Pipeline

x_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy="tomek_links", \
    sort_by_date=False, train_ratio=0.8, random_state=0)

clf = Pipeline([
    ('select_k_best', SelectKBest()),
    ('classifier', RandomForest(n_estimators=200, random_state=0))
])

# Train it with data
clf.fit(x_train, y_train)

if len(y_test) > 0: # not training with entire dataset
    # Predict the test data for dev and evaluate
    predictions_dev = clf.predict(x_test)
    predictions_dev_prob = clf.predict_proba(x_test)

    # Evaluate
    print('Recall: ', recall_score(y_test, predictions_dev, pos_label=-1))
    print('Accuracy: ', accuracy_score(y_test, predictions_dev))
    print('Precision: ', precision_score(y_test, predictions_dev, pos_label=-1))
    print('F-Score: ', f1_score(y_test, predictions_dev, pos_label=-1))
    print("AUROC: ", roc_auc_score(y_test, predictions_dev_prob[:, 1]))
    print("Dev self_confidence_score: ", self_confidence_score(predictions_dev_prob[:, 1]))

    # Write the dev predictions to a file
    predictions_dev_id = x_test["loan_id"]
    predictions_dev_debt = [x[0] for x in predictions_dev_prob]
    predictions_df_dev = pd.DataFrame({"Id": predictions_dev_id, "Predicted": predictions_dev_debt, "Actual": y_test})
    predictions_df_dev.to_csv("output/predictions_dev.csv", index=False)

# Predict the competition data with probabilities
loans_comp_indep = loans_comp.drop(axis=1, columns=["status"])
predictions_comp_prob = clf.predict_proba(loans_comp_indep)
predictions_comp = clf.predict(loans_comp_indep)
print("Competition self_confidence_score: ", self_confidence_score(predictions_comp_prob[:, 1]))

# Write the comp predictions to a file
predictions_comp_debt = [x[0] for x in predictions_comp_prob]
predictions_comp_id = loans_comp["loan_id"].tolist()
predictions_df_comp = pd.DataFrame({"Id": predictions_comp_id, "Predicted": predictions_comp_debt})
predictions_df_comp.to_csv("output/predictions_comp.csv", index=False)

Competition self_confidence_score:  0.063009361508888

#### Predicting and evaluating with multiple pipelines

Text

In [75]:
import warnings
warnings.filterwarnings("ignore")

no_different_splits = 3 # change this to a lower number if you want to test the code faster
samplers = [
  None,
  "svmsmote", # over-sampling
  "tomek_links", # under-sampling
  "smote_tomek", # over- and under-sampling
]
feature_selectors = [
  None,
  VarianceThreshold(threshold=0.16), # remove features with low variance
  SelectKBest(f_classif, k=5), # keep only the 10 best features
  SelectKBest(f_classif, k=10), # keep only the 10 best features
  SelectKBest(f_classif, k=15), # keep only the 10 best features
  "remove_day_months",
  "remove_year"
  "remove_clusters",
  "remove_districts",
  "remove_transactions",
]
classifiers = [
    # neighbors
    KNeighborsClassifier(),
    # linear learners
    SVC(random_state=0, probability=True),
    # probability-based
    GaussianNB(),
    # trees
    DecisionTreeClassifier(random_state=0),
    # ensemble methods
    RandomForestClassifier(random_state=0, n_estimators=200, n_jobs=-1),
    AdaBoostClassifier(random_state=0, n_estimators=50),
    # neural networks
    MLPClassifier(hidden_layer_sizes=(150,100,50), max_iter=300, random_state=0),
]

aucs = {}
# populate aucs
for sampler in samplers:
  for feature_selector in feature_selectors:
    for classifier in classifiers:
      print("|", end="") # simple progress indicator
      aucs[(sampler, feature_selector, classifier)] = []

print("")
for sampler in samplers:
  for feature_selector in feature_selectors:
    for classifier in classifiers:
      print("|", end="") # simple progress indicator
      for random_state in range(no_different_splits): # split differently each time

        x_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy=sampler, \
          sort_by_date=False, train_ratio=0.8, random_state=random_state, drop_columns=["loan_id"])

        if feature_selector is not None:
          if isinstance(feature_selector, str):
            if "remove_day_months" in feature_selector:
              x_train = x_train.drop(columns=["account_month", "account_day", "month", "day", "owner_day", "owner_month"])
              x_test = x_test.drop(columns=["account_month", "account_day", "month", "day", "owner_day", "owner_month"])
            elif "remove_clusters" in feature_selector:
              x_train = x_train.drop(columns=["transaction_profile", "owner_districts_profile", "account_districts_profile"])
              x_test = x_test.drop(columns=["transaction_profile", "owner_districts_profile", "account_districts_profile"])
            elif "remove_districts" in feature_selector:
              x_train = x_train.drop(columns=["account_district_id", "owner_district_id"])
              x_test = x_test.drop(columns=["account_district_id", "owner_district_id"])
            elif "remove_transactions" in feature_selector:
              x_train = x_train.drop(columns=["average_account_balance_per_month", "average_account_debit_per_month", "average_account_credit_per_month"])
              x_test = x_test.drop(columns=["average_account_balance_per_month", "average_account_debit_per_month", "average_account_credit_per_month"])
            elif "remove_year" in feature_selector:
              x_train = x_train.drop(columns=["year", "owner_year", "account_year"])
              x_test = x_test.drop(columns=["year", "owner_year", "account_year"])
          else:
            feature_selector.fit(x_train, y_train)
            x_train = feature_selector.transform(x_train)
            x_test = feature_selector.transform(x_test)

        # Train it with data
        classifier.fit(x_train, y_train)

        # Predict the test data for dev and evaluate
        predictions_dev = classifier.predict(x_test)
        predictions_dev_prob = classifier.predict_proba(x_test)

        # Evaluate
        auc = roc_auc_score(y_test, predictions_dev_prob[:, 1])
        aucs[(sampler, feature_selector, classifier)] += [auc]

print("")
sorted_aucs = sorted(aucs.items(), key=lambda x: sum(x[1]), reverse=True)
for auc in sorted_aucs:
  print(auc[0])
  print(auc[1])
  print(sum(auc[1]) / len(auc[1]), min(auc[1]), max(auc[1]))
  print("")

# Write aucs to file
with open("output/aucs.txt", "w") as f:
  for auc in sorted_aucs:
    f.write(str(auc[0]) + " " + str(auc[1]) + " " + str(sum(auc[1]) / len(auc[1])))
    f.write("\n")

||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
('smote_tomek', SelectKBest(), AdaBoostClassifier(random_state=0))
[0.9527777777777777, 0.7808417997097242, 0.801452784503632]
0.8450241206637114 0.7808417997097242 0.9527777777777777

('smote_tomek', 'remove_yearremove_clusters', AdaBoostClassifier(random_state=0))
[0.9611111111111111, 0.7750362844702468, 0.7288135593220341]
0.821653651634464 0.7288135593220341 0.9611111111111111

('tomek_links', 'remove_yearremove_clusters', AdaBoostClassifier(random_state=0))
[0.9, 0.7561683599419449, 0.7966101694915253]
0.81759284314449 0.7561683599419449 0.9

('tomek_links', SelectKBest(k=5), GaussianNB())
[0.9166666666666667, 0.7779390420899854, 0.7554479418886199]
0.8166845502150907 0.7554479418886199 0.9166666666666667

(None, SelectKBest(k=5), GaussianNB())
[0.9027777777777778, 0.7793904208998549, 0.7530266343825666]
0.8117316110200664 0.7530266343825666 0.9027777777777778

('tomek_links', None, AdaBoostClassifier(random_state=0))
[0.9083333333333333, 0.7561683599419449, 0.7602905569007263]
0.8082640833920015 0.7561683599419449 0.9083333333333333

('tomek_links', 'remove_districts', AdaBoostClassifier(random_state=0))
[0.9083333333333333, 0.7677793904208999, 0.738498789346247]
0.8048705043668267 0.738498789346247 0.9083333333333333

(None, 'remove_yearremove_clusters', AdaBoostClassifier(random_state=0))
[0.9194444444444444, 0.6865021770682148, 0.8014527845036319]
0.802466468672097 0.6865021770682148 0.9194444444444444

(None, SelectKBest(), AdaBoostClassifier(random_state=0))
[0.9194444444444444, 0.7329462989840348, 0.7409200968523003]
0.7977702800935932 0.7329462989840348 0.9194444444444444

('svmsmote', SelectKBest(), AdaBoostClassifier(random_state=0))
[0.9458333333333333, 0.6821480406386067, 0.7627118644067796]
0.7968977461262399 0.6821480406386067 0.9458333333333333

('tomek_links', VarianceThreshold(threshold=0.16), AdaBoostClassifier(random_state=0))
[0.8805555555555556, 0.7561683599419449, 0.7530266343825667]
0.796583516626689 0.7530266343825667 0.8805555555555556

('tomek_links', SelectKBest(), AdaBoostClassifier(random_state=0))
[0.9111111111111111, 0.6908563134978228, 0.7651331719128329]
0.7890335321739222 0.6908563134978228 0.9111111111111111

('smote_tomek', SelectKBest(k=15), AdaBoostClassifier(random_state=0))
[0.8777777777777779, 0.690856313497823, 0.784503631961259]
0.7843792410789533 0.690856313497823 0.8777777777777779

(None, 'remove_districts', AdaBoostClassifier(random_state=0))
[0.9388888888888889, 0.637155297532656, 0.774818401937046]
0.783620862786197 0.637155297532656 0.9388888888888889

('tomek_links', SelectKBest(k=15), AdaBoostClassifier(random_state=0))
[0.9166666666666666, 0.6865021770682147, 0.7433414043583535]
0.7821700826977449 0.6865021770682147 0.9166666666666666

(None, SelectKBest(k=15), AdaBoostClassifier(random_state=0))
[0.8777777777777778, 0.7227866473149492, 0.7409200968523002]
0.7804948406483424 0.7227866473149492 0.8777777777777778

('tomek_links', SelectKBest(k=5), AdaBoostClassifier(random_state=0))
[0.8236111111111112, 0.7387518142235123, 0.7675544794188861]
0.7766391349178364 0.7387518142235123 0.8236111111111112

('smote_tomek', SelectKBest(), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9041666666666667, 0.7111756168359942, 0.7094430992736078]
0.7749284609254229 0.7094430992736078 0.9041666666666667

('smote_tomek', 'remove_districts', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8930555555555556, 0.690856313497823, 0.7397094430992737]
0.7745404373842174 0.690856313497823 0.8930555555555556

('svmsmote', SelectKBest(k=5), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9222222222222223, 0.7285921625544266, 0.662227602905569]
0.7710139958940726 0.662227602905569 0.9222222222222223

(None, SelectKBest(k=5), AdaBoostClassifier(random_state=0))
[0.8069444444444444, 0.7140783744557329, 0.7869249394673123]
0.7693159194558299 0.7140783744557329 0.8069444444444444

('svmsmote', SelectKBest(k=15), AdaBoostClassifier(random_state=0))
[0.875, 0.7126269956458636, 0.7167070217917676]
0.768111339145877 0.7126269956458636 0.875

('svmsmote', 'remove_districts', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9097222222222222, 0.6516690856313498, 0.7397094430992737]
0.7670335836509485 0.6516690856313498 0.9097222222222222

('svmsmote', 'remove_districts', AdaBoostClassifier(random_state=0))
[0.9083333333333333, 0.602322206095791, 0.784503631961259]
0.7650530571301278 0.602322206095791 0.9083333333333333

('smote_tomek', 'remove_day_months', AdaBoostClassifier(random_state=0))
[0.8027777777777777, 0.714078374455733, 0.774818401937046]
0.7638915180568522 0.714078374455733 0.8027777777777777

('svmsmote', SelectKBest(k=5), GaussianNB())
[0.8777777777777779, 0.7648766328011611, 0.6440677966101694]
0.7622407357297029 0.6440677966101694 0.8777777777777779

('smote_tomek', None, AdaBoostClassifier(random_state=0))
[0.9416666666666668, 0.6037735849056604, 0.7384987893462469]
0.7613130136395246 0.6037735849056604 0.9416666666666668

('smote_tomek', None, RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8888888888888888, 0.629898403483309, 0.7615012106537531]
0.7600961676753171 0.629898403483309 0.8888888888888888

('smote_tomek', 'remove_districts', AdaBoostClassifier(random_state=0))
[0.9444444444444444, 0.6037735849056604, 0.7312348668280872]
0.7598176320593973 0.6037735849056604 0.9444444444444444

('tomek_links', SelectKBest(), GaussianNB())
[0.8916666666666667, 0.7082728592162554, 0.675544794188862]
0.7584947733572615 0.675544794188862 0.8916666666666667

('smote_tomek', SelectKBest(k=5), GaussianNB())
[0.8833333333333333, 0.725689404934688, 0.6634382566585956]
0.7574869983088722 0.6634382566585956 0.8833333333333333

('smote_tomek', SelectKBest(k=5), AdaBoostClassifier(random_state=0))
[0.8583333333333332, 0.7373004354136429, 0.6743341404358354]
0.7566559697276038 0.6743341404358354 0.8583333333333332

('smote_tomek', SelectKBest(k=15), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8708333333333333, 0.658200290275762, 0.7409200968523002]
0.7566512401537985 0.658200290275762 0.8708333333333333

(None, VarianceThreshold(threshold=0.16), AdaBoostClassifier(random_state=0))
[0.85, 0.637155297532656, 0.7748184019370461]
0.7539912331565674 0.637155297532656 0.85

(None, 'remove_day_months', AdaBoostClassifier(random_state=0))
[0.85, 0.6661828737300436, 0.7409200968523002]
0.7523676568607813 0.6661828737300436 0.85

(None, SelectKBest(), GaussianNB())
[0.8916666666666667, 0.7024673439767779, 0.6537530266343826]
0.7492956790926092 0.6537530266343826 0.8916666666666667

('smote_tomek', 'remove_yearremove_clusters', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.861111111111111, 0.6770682148040639, 0.7046004842615012]
0.747593270058892 0.6770682148040639 0.861111111111111

('tomek_links', SelectKBest(k=15), GaussianNB())
[0.8916666666666667, 0.7039187227866474, 0.6464891041162228]
0.7473581645231789 0.6464891041162228 0.8916666666666667

(None, None, AdaBoostClassifier(random_state=0))
[0.8805555555555556, 0.637155297532656, 0.7239709443099274]
0.7472272657993798 0.637155297532656 0.8805555555555556

('tomek_links', 'remove_yearremove_clusters', GaussianNB())
[0.9166666666666666, 0.6952104499274311, 0.6246973365617433]
0.7455248177186137 0.6246973365617433 0.9166666666666666

('svmsmote', SelectKBest(k=15), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9097222222222223, 0.6436865021770682, 0.6828087167070218]
0.7454058137021041 0.6436865021770682 0.9097222222222223

('svmsmote', SelectKBest(k=5), AdaBoostClassifier(random_state=0))
[0.8111111111111111, 0.7714078374455733, 0.6513317191283292]
0.7446168892283378 0.6513317191283292 0.8111111111111111

(None, 'remove_yearremove_clusters', GaussianNB())
[0.9305555555555556, 0.6879535558780842, 0.6150121065375302]
0.7445070726570565 0.6150121065375302 0.9305555555555556

('tomek_links', 'remove_districts', GaussianNB())
[0.9027777777777778, 0.679245283018868, 0.648910411622276]
0.7436444908063073 0.648910411622276 0.9027777777777778

(None, 'remove_districts', GaussianNB())
[0.9166666666666667, 0.6719883889695211, 0.6416464891041163]
0.7434338482467681 0.6416464891041163 0.9166666666666667

('tomek_links', 'remove_day_months', AdaBoostClassifier(random_state=0))
[0.8388888888888889, 0.6560232220609579, 0.7336561743341404]
0.7428560950946624 0.6560232220609579 0.8388888888888889

('svmsmote', None, RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9097222222222222, 0.6291727140783745, 0.6888619854721549]
0.7425856405909173 0.6291727140783745 0.9097222222222222

('tomek_links', None, RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9180555555555555, 0.6030478955007257, 0.705811138014528]
0.7423048630236031 0.6030478955007257 0.9180555555555555

('svmsmote', 'remove_day_months', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8791666666666667, 0.6560232220609579, 0.6803874092009685]
0.7385257659761977 0.6560232220609579 0.8791666666666667

('smote_tomek', 'remove_day_months', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8569444444444445, 0.6400580551523948, 0.7167070217917676]
0.7379031737962022 0.6400580551523948 0.8569444444444445

(None, VarianceThreshold(threshold=0.16), GaussianNB())
[0.875, 0.7010159651669086, 0.6368038740920097]
0.737606613086306 0.6368038740920097 0.875

(None, 'remove_day_months', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8458333333333334, 0.6850507982583454, 0.679176755447942]
0.7366869623465403 0.679176755447942 0.8458333333333334

('tomek_links', VarianceThreshold(threshold=0.16), GaussianNB())
[0.8638888888888889, 0.7068214804063861, 0.6319612590799032]
0.7342238761250593 0.6319612590799032 0.8638888888888889

(None, None, GaussianNB())
[0.9194444444444445, 0.6676342525399128, 0.6150121065375302]
0.7340302678406291 0.6150121065375302 0.9194444444444445

('tomek_links', None, GaussianNB())
[0.9027777777777778, 0.6763425253991291, 0.6222760290556901]
0.7337987774108656 0.6222760290556901 0.9027777777777778

('tomek_links', 'remove_transactions', AdaBoostClassifier(random_state=0))
[0.8527777777777777, 0.6415094339622641, 0.7070217917675545]
0.7337696678358654 0.6415094339622641 0.8527777777777777

('svmsmote', 'remove_yearremove_clusters', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8944444444444445, 0.6712626995645863, 0.6343825665859564]
0.7333632368649957 0.6343825665859564 0.8944444444444445

(None, VarianceThreshold(threshold=0.16), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8611111111111112, 0.6015965166908563, 0.7324455205811138]
0.7317177161276938 0.6015965166908563 0.8611111111111112

('svmsmote', SelectKBest(), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9138888888888889, 0.6233671988388969, 0.6537530266343826]
0.7303363714540562 0.6233671988388969 0.9138888888888889

('tomek_links', SelectKBest(k=15), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9236111111111112, 0.6066763425253991, 0.6585956416464891]
0.7296276984276665 0.6066763425253991 0.9236111111111112

('smote_tomek', VarianceThreshold(threshold=0.16), AdaBoostClassifier(random_state=0))
[0.8611111111111112, 0.6153846153846154, 0.711864406779661]
0.7294533777584625 0.6153846153846154 0.8611111111111112

(None, SelectKBest(k=15), GaussianNB())
[0.8944444444444445, 0.6763425253991292, 0.6150121065375302]
0.7285996921270347 0.6150121065375302 0.8944444444444445

('svmsmote', None, AdaBoostClassifier(random_state=0))
[0.9222222222222223, 0.5994194484760522, 0.6561743341404358]
0.7259386682795701 0.5994194484760522 0.9222222222222223

('svmsmote', VarianceThreshold(threshold=0.16), AdaBoostClassifier(random_state=0))
[0.8666666666666667, 0.6386066763425254, 0.6707021791767553]
0.7253251740619824 0.6386066763425254 0.8666666666666667

('svmsmote', 'remove_day_months', AdaBoostClassifier(random_state=0))
[0.7861111111111111, 0.6821480406386066, 0.7070217917675545]
0.7250936478390907 0.6821480406386066 0.7861111111111111

('smote_tomek', 'remove_transactions', AdaBoostClassifier(random_state=0))
[0.888888888888889, 0.5761973875181422, 0.6997578692493946]
0.7216147152188087 0.5761973875181422 0.888888888888889

(None, SelectKBest(k=15), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8902777777777778, 0.6059506531204645, 0.6634382566585957]
0.7198888958522792 0.6059506531204645 0.8902777777777778

('smote_tomek', SelectKBest(k=5), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8625, 0.704644412191582, 0.5920096852300243]
0.7197180324738688 0.5920096852300243 0.8625

(None, None, RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8930555555555556, 0.5892597968069666, 0.665859564164649]
0.716058305509057 0.5892597968069666 0.8930555555555556

(None, 'remove_districts', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8861111111111111, 0.5827285921625545, 0.6767554479418887]
0.715198383738518 0.5827285921625545 0.8861111111111111

(None, 'remove_day_months', GaussianNB())
[0.8666666666666667, 0.671988388969521, 0.6004842615012106]
0.7130464390457995 0.6004842615012106 0.8666666666666667

(None, 'remove_transactions', AdaBoostClassifier(random_state=0))
[0.8583333333333334, 0.5849056603773586, 0.6949152542372881]
0.7127180826493267 0.5849056603773586 0.8583333333333334

('tomek_links', 'remove_day_months', GaussianNB())
[0.8555555555555555, 0.6734397677793904, 0.6053268765133173]
0.7114407332827545 0.6053268765133173 0.8555555555555555

('smote_tomek', 'remove_transactions', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8430555555555556, 0.5820029027576197, 0.7046004842615012]
0.7098863141915589 0.5820029027576197 0.8430555555555556

(None, 'remove_transactions', GaussianNB())
[0.888888888888889, 0.6400580551523948, 0.5980629539951574]
0.7090032993454803 0.5980629539951574 0.888888888888889

('svmsmote', 'remove_yearremove_clusters', AdaBoostClassifier(random_state=0))
[0.9333333333333333, 0.5558780841799709, 0.6368038740920097]
0.708671763868438 0.5558780841799709 0.9333333333333333

('tomek_links', 'remove_day_months', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8638888888888889, 0.6574746008708272, 0.6041162227602905]
0.7084932375066689 0.6041162227602905 0.8638888888888889

('tomek_links', 'remove_transactions', GaussianNB())
[0.8777777777777779, 0.6458635703918723, 0.5956416464891041]
0.7064276648862514 0.5956416464891041 0.8777777777777779

('smote_tomek', VarianceThreshold(threshold=0.16), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8597222222222223, 0.5776487663280115, 0.6791767554479419]
0.7055159146660586 0.5776487663280115 0.8597222222222223

('svmsmote', VarianceThreshold(threshold=0.16), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9013888888888888, 0.5805515239477503, 0.6307506053268765]
0.7042303393878386 0.5805515239477503 0.9013888888888888

('tomek_links', VarianceThreshold(threshold=0.16), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8777777777777778, 0.5544267053701015, 0.6731234866828089]
0.7017759899435627 0.5544267053701015 0.8777777777777778

('smote_tomek', SelectKBest(k=5), SVC(probability=True, random_state=0))
[0.7916666666666667, 0.6981132075471699, 0.6053268765133173]
0.6983689169090512 0.6053268765133173 0.7916666666666667

('smote_tomek', SelectKBest(k=15), MLPClassifier(hidden_layer_sizes=(150, 100, 50), max_iter=300, random_state=0))
[0.638888888888889, 0.7155297532656023, 0.7384987893462469]
0.6976391438335794 0.638888888888889 0.7384987893462469

(None, SelectKBest(k=5), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8861111111111111, 0.5769230769230769, 0.6295399515738499]
0.6975247132026793 0.5769230769230769 0.8861111111111111

('tomek_links', 'remove_yearremove_clusters', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8916666666666666, 0.5689404934687954, 0.6271186440677965]
0.6959086014010861 0.5689404934687954 0.8916666666666666

(None, SelectKBest(k=5), SVC(probability=True, random_state=0))
[0.8638888888888888, 0.4876632801161103, 0.7360774818401936]
0.6958765502817309 0.4876632801161103 0.8638888888888888

(None, SelectKBest(), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8694444444444445, 0.579100145137881, 0.6319612590799032]
0.6935019495540762 0.579100145137881 0.8694444444444445

('svmsmote', SelectKBest(k=15), GaussianNB())
[0.8305555555555556, 0.6966618287373004, 0.5520581113801453]
0.6930918318910004 0.5520581113801453 0.8305555555555556

('svmsmote', SelectKBest(), KNeighborsClassifier())
[0.9416666666666667, 0.5478955007256894, 0.5823244552058111]
0.690628874199389 0.5478955007256894 0.9416666666666667

('tomek_links', SelectKBest(k=5), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8972222222222221, 0.5544267053701015, 0.6077481840193706]
0.6864657038705647 0.5544267053701015 0.8972222222222221

(None, 'remove_yearremove_clusters', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9083333333333334, 0.5406386066763424, 0.602905569007264]
0.6839591696723133 0.5406386066763424 0.9083333333333334

('tomek_links', SelectKBest(), RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8875, 0.5522496371552976, 0.6113801452784504]
0.683709927477916 0.5522496371552976 0.8875

('tomek_links', 'remove_districts', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8972222222222221, 0.5602322206095791, 0.5932203389830508]
0.6835582606049506 0.5602322206095791 0.8972222222222221

('smote_tomek', SelectKBest(), MLPClassifier(hidden_layer_sizes=(150, 100, 50), max_iter=300, random_state=0))
[0.6, 0.7532656023222062, 0.6973365617433414]
0.6835340546885158 0.6 0.7532656023222062

('tomek_links', 'remove_transactions', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.8930555555555556, 0.5602322206095791, 0.5968523002421308]
0.6833800254690886 0.5602322206095791 0.8930555555555556

('smote_tomek', SelectKBest(), GaussianNB())
[0.7805555555555556, 0.6865021770682148, 0.5786924939467313]
0.6819167421901673 0.5786924939467313 0.7805555555555556

(None, 'remove_transactions', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))
[0.9, 0.6219158200290276, 0.5181598062953995]
0.6800252087748091 0.5181598062953995 0.9

('smote_tomek', SelectKBest(k=15), DecisionTreeClassifier(random_state=0))
[0.8083333333333333, 0.5391872278664731, 0.6840193704600485]
0.6771799772199517 0.5391872278664731 0.8083333333333333

('tomek_links', SelectKBest(k=15), SVC(probability=True, random_state=0))
[0.8333333333333334, 0.5979680696661829, 0.5980629539951574]
0.6764547856648914 0.5979680696661829 0.8333333333333334

('smote_tomek', SelectKBest(k=15), GaussianNB())
[0.7388888888888889, 0.702467343976778, 0.585956416464891]
0.675770883110186 0.585956416464891 0.7388888888888889

('svmsmote', SelectKBest(), GaussianNB())
[0.8, 0.6850507982583454, 0.5375302663438256]
0.6741936882007237 0.5375302663438256 0.8

('svmsmote', 'remove_transactions', RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=0))

#### Hyper parameter tuning the best pipeline

In [76]:
from sklearn.model_selection import RandomizedSearchCV

n_estimators = [int(x) for x in np.linspace(start = 200, stop = 1000, num = 9)]
max_features = ['log2', 'sqrt', None]
max_depth = [int(x) for x in np.linspace(10, 80, num = 8)] + [None]
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4]
bootstrap = [True, False]
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

x_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy="adasyn", \
          sort_by_date=False, train_ratio=0.8, random_state=0)

rf = RandomForestRegressor()
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=0, n_jobs = -1)
rf_random.fit(x_train, y_train)
print(rf_random.best_params_)

# Extract best parameters
n_estimators = rf_random.best_params_['n_estimators']
max_features = rf_random.best_params_['max_features']
max_depth = rf_random.best_params_['max_depth']
min_samples_split = rf_random.best_params_['min_samples_split']
min_samples_leaf = rf_random.best_params_['min_samples_leaf']
bootstrap = rf_random.best_params_['bootstrap']

# Train and evaluate the model with the best parameters
auc_sum = 0
for random_state in range(no_different_splits):
    x_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy="adasyn", \
            sort_by_date=False, train_ratio=0.8, random_state=random_state)
    rf = RandomForestClassifier(n_estimators=n_estimators, max_features=max_features, max_depth=max_depth, min_samples_split=min_samples_split, min_samples_leaf=min_samples_leaf, bootstrap=bootstrap, random_state=0)
    rf.fit(x_train, y_train)
    predictions_proba = rf.predict_proba(x_test)

    # Evaluate
    auc = roc_auc_score(y_test, predictions_proba[:, 1])
    print(auc)
    auc_sum += auc
print("Average AUC: " + str(auc_sum / no_different_splits))

Fitting 5 folds for each of 100 candidates, totalling 500 fits
[CV] END bootstrap=False, max_depth=50, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=700; total time=   1.6s
[CV] END bootstrap=False, max_depth=50, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=700; total time=   1.5s
[CV] END bootstrap=False, max_depth=50, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=700; total time=   1.5s
[CV] END bootstrap=False, max_depth=50, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=700; total time=   1.7s
[CV] END bootstrap=False, max_depth=50, max_features=sqrt, min_samples_leaf=1, min_samples_split=5, n_estimators=700; total time=   1.8s
[CV] END bootstrap=True, max_depth=70, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=800; total time=   1.8s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=300; total time=   0.8s
[CV] END bootstrap=True, max_depth=70, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=800; total time=   2.3s
[CV] END bootstrap=True, max_depth=70, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=800; total time=   2.3s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=300; total time=   0.8s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=300; total time=   1.0s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=300; total time=   0.7s
[CV] END bootstrap=True, max_depth=40, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=300; total time=   0.8s
[CV] END bootstrap=True, max_depth=70, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=800; total time=   1.9s
[CV] END bootstrap=True, max_depth=70, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=800; total time=   2.1s
[CV] END bootstrap=False, max_depth=70, max_features=None, min_samples_leaf=4, min_samples_split=2, n_estimators=200; total time=   1.0s
[CV] END bootstrap=False, max_depth=70, max_features=None, min_samples_leaf=4, min_samples_split=2, n_estimators=200; total time=   1.2s
[CV] END bootstrap=False, max_depth=70, max_features=None, min_samples_leaf=4, min_samples_split=2, n_estimators=200; total time=   1.0s
[CV] END bootstrap=False, max_depth=70, max_features=None, min_samples_leaf=4, min_samples_split=2, n_estimators=200; total time=   0.8s
[CV] END bootstrap=False, max_depth=70, max_features=None, min_samples_leaf=4, min_samples_split=2, n_estimators=200; total time=   1.0s
[CV] END bootstrap=False, max_depth=10, max_features=log2, min_samples_leaf=4, min_samples_split=2, n_estimators=400; total time=   0.7s
[CV] END bootstrap=False, max_depth=10, max_features=log2, min_samples_leaf=4, min_samples_split=2, n_estimators=400; total time=   1.0s
[CV] END bootstrap=False, max_depth=10, max_features=log2, min_samples_leaf=4, min_samples_split=2, n_estimators=400; total time=   0.8s
[CV] END bootstrap=False, max_depth=10, max_features=log2, min_samples_leaf=4, min_samples_split=2, n_estimators=400; total time=   0.8s
[CV] END bootstrap=False, max_depth=10, max_features=log2, min_samples_leaf=4, min_samples_split=2, n_estimators=400; total time=   0.9s
[CV] END bootstrap=False, max_depth=50, max_features=sqrt, min_samples_leaf=4, min_samples_split=2, n_estimators=1000; total time=   2.3s
[CV] END bootstrap=False, max_depth=50, max_features=sqrt, min_samples_leaf=4, min_samples_split=2, n_estimators=1000; total time=   2.3s
[CV] END bootstrap=False, max_depth=50, max_features=sqrt, min_samples_leaf=4, min_samples_split=2, n_estimators=1000; total time=   2.3s
[CV] END bootstrap=False, max_depth=50, max_features=sqrt, min_samples_leaf=4, min_samples_split=2, n_estimators=1000; total time=   2.3s

KeyboardInterrupt: