# FEUP - AC
## Banking - Predicting a Loan Outcome

### Business understanding

##### Analysis of requirements with the end user
Text

##### Definition of business goals
Text

##### Translation of business goals into data mining goals
Text

### Exploratory data analysis

Let us start by importing the datasets.

In [20]:
import pandas as pd
import numpy as np

# Global settings
pd.set_option('display.max_columns', None)

COMP_DATA_SOURCE = "comp_data/"
DEV_DATA_SOURCE = "dev_data/"

# Read in the data; merge data for tables other than loans since they do not influence merges
accounts = pd.read_csv(DEV_DATA_SOURCE + 'account.csv', sep=';')

cards_dev = pd.read_csv(DEV_DATA_SOURCE + 'card.csv', sep=';')
cards_comp = pd.read_csv(COMP_DATA_SOURCE + 'card.csv', sep=';')
cards = pd.concat([cards_dev, cards_comp])

clients = pd.read_csv(DEV_DATA_SOURCE + 'client.csv', sep=';')

dispositions = pd.read_csv(DEV_DATA_SOURCE + 'disp.csv', sep=';')

districts = pd.read_csv(DEV_DATA_SOURCE + 'district.csv', sep=';')

transactions_dev = pd.read_csv(DEV_DATA_SOURCE + 'trans.csv', sep=';')
transactions_comp = pd.read_csv(COMP_DATA_SOURCE + 'trans.csv', sep=';')
transactions = pd.concat([transactions_dev, transactions_comp])

loans_dev = pd.read_csv(DEV_DATA_SOURCE + 'loan.csv', sep=';')
loans_comp = pd.read_csv(COMP_DATA_SOURCE + 'loan.csv', sep=';')

loans_dev.head()

/tmp/ipykernel_864336/482001259.py:23: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  transactions_dev = pd.read_csv(DEV_DATA_SOURCE + 'trans.csv', sep=';')

   loan_id  account_id    date  amount  duration  payments  status
0     5314        1787  930705   96396        12      8033      -1
1     5316        1801  930711  165960        36      4610       1
2     6863        9188  930728  127080        60      2118       1
3     5325        1843  930803  105804        36      2939       1
4     7240       11013  930906  274740        60      4579       1

Plenty of analysis with graphs, distributions, outliers...

### Data preprocessing

Text

#### Processing accounts

The account spreadsheet relates it with the district and date in which it was created, as well with the frequency of issuance of statements with the owner.

The date comes in the from YYMMDD, which is easily extractable to the three different columns that it is aggregating. This will aid the model in detecting important patterns in the year of creation, for example, indicating a global economic crisis or prosperity when the person has created the account.

In [21]:
import src.preprocess.accounts as accpp
accounts = accpp.preprocess_accounts(accounts)
accounts.head()

,account_id,district_id,account_frequency,account_year,account_month,account_day
0,576,55,monthly issuance,93,1,1
1,3818,74,monthly issuance,93,1,1
2,704,55,monthly issuance,93,1,1
3,2378,16,monthly issuance,93,1,1
4,2632,24,monthly issuance,93,1,2

#### Processing credit cards

In the credit cards relation, the same concept applies to the date of issuance.

MORE TEXT

In [22]:
from src.preprocess.cards import preprocess_cards

cards = preprocess_cards(cards)
cards.head()

   card_id  disp_id     type  year  month  day
0     1005     9285  classic    93     11    7
1      104      588  classic    94      1   19
2      747     4915  classic    94      2    5
3       70      439  classic    94      2    8
4      577     3687  classic    94      2   15

#### Processing clients

In the clients relation, two foreign references and a date appear once again. However, regarding the latter one, there is an important difference: the day is the actual day plus fifty, if the client is a female, and so we can extract the gender too, here.

In [23]:
from src.preprocess.clients import preprocess_clients

clients = preprocess_clients(clients)
clients.head()

   client_id  district_id  year  month  day  gender
0          1           18    70     12   13  female
1          2            1    45      2    4    male
2          3            1    40     10    9  female
3          4            5    56     12    1    male
4          5            5    60      7    3  female

#### Processing dispositions

The disposition describes the rights of clients to operate accounts: only "owners" can ask for loans and issue permanent orders.

There is no clear way to merge this table with loans later on, since the loans table does not refer the disposition used for the loan. Instead, let's focus on the number of dispositions and the ratio of owners of an account, which will give an impression of the nature of the people able to control the account. All humans fight and cheat on each other, or build trust together. Let's discover that pattern in Czech Republic.

In [24]:
from src.preprocess.dispositions import preprocess_dispositions
dispositions = preprocess_dispositions(dispositions)
dispositions.head()

   disp_id  client_id  account_id       type  number_account_dispositions
0        1          1           1      OWNER                            1
1        2          2           2      OWNER                            2
2        3          3           2  DISPONENT                            2
3        4          4           3      OWNER                            2
4        5          5           3  DISPONENT                            2

#### Processing districts

The districts relation is quite dense, describing the demographic data of a region. We can extract interesting measures here:

- The commited crimes growth ratio, derived from the evolution of the number of crimes from '95 to '96
- The unemployment rate growth ratio, derived from the evolution of the employment rate from '95 to '96

We also acknowledged that there was one region where the number of crimes and unemployment rate in '95 was not known (`?` was the appearance in the respective column). In order not to discard the entire region data, we'll simply assume that number to be the same as the matching record in '96.

In [25]:
from src.preprocess.districts import preprocess_districts
districts = preprocess_districts(districts)
districts.head()

,district_id,district_no_inhabitants,district_no_cities,district_urban_inhabitants_ratio,district_average_salary,district_unemployment_rate,districts_entrepreneurs_ratio,district_crimes_per_inhabitant,district_crime_growth,district_unemploymant_growth
0,1,1204953,1,100.0,12541,0.43,0.167,0.082250,1.156752,1.482759
1,2,88884,5,46.7,8507,1.85,0.132,0.030084,1.238536,1.107784
2,3,75232,5,41.7,8980,2.21,0.111,0.037391,0.996105,1.133333
3,4,149893,6,67.4,9753,5.05,0.109,0.039308,1.123570,1.088362
4,5,95616,6,51.4,9307,4.43,0.118,0.031794,1.162080,1.150649

#### Processing loans

The loans relation references an account and the date of loan, which can be extracted. The duration seems to be in months, so let us improve the name of the column. The amounts seems to be in `Czech korunas`, the czech currency, as hinted by the list of regions; we'll convert it to euros for better visualization and understanding of the upcoming results.

In [26]:
from src.preprocess.loans import preprocess_loans
loans_comp = preprocess_loans(loans_comp)
loans_dev = preprocess_loans(loans_dev)
loans_dev.head()

,loan_id,account_id,amount,duration_months,monthly_payment,status,year,month,day
0,5314,1787,3950.66,12,329.22,-1,93,7,5
1,5316,1801,6801.64,36,188.93,1,93,7,11
2,6863,9188,5208.20,60,86.80,1,93,7,28
3,5325,1843,4336.23,36,120.45,1,93,8,3
4,7240,11013,11259.84,60,187.66,1,93,9,6

#### Processing transactions

This table contains a lot of information that we cannot directly relate to a loan.

Let us first extract the date and make the withdrawal amounts actually negative, to give the model an impression of the direction of the money flow in and out of the bank.

For now, let us extract some statistical data related to the accounts, which we'll relate to the loans table.

In [27]:
from src.preprocess.transactions import preprocess_transactions
transactions = preprocess_transactions(transactions)
transactions.head()

,trans_id,account_id,type,operation,amount,balance,k_symbol,bank,account,year,month,day
0,1548749,5270,credit,credit in cash,32.79,32.79,NaN,NaN,NaN,93,1,13
1,1548750,5270,credit,collection from another bank,1833.98,1866.76,NaN,IJ,80269753.0,93,1,14
2,3393738,11265,credit,credit in cash,40.98,40.98,NaN,NaN,NaN,93,1,14
3,3122924,10364,credit,credit in cash,45.08,45.08,NaN,NaN,NaN,93,1,17
4,1121963,3834,credit,credit in cash,28.69,28.69,NaN,NaN,NaN,93,1,19

#### Feature engineering

Text

##### Getting the average account balance based on the transactions

In [28]:
from src.feature_engineering.merge import merge_account_transactions
accounts = merge_account_transactions(accounts, transactions)
accounts.head()

,account_id,district_id,account_frequency,account_year,account_month,account_day,account_average_balance
0,576,55,monthly issuance,93,1,1,995.213406
1,3818,74,monthly issuance,93,1,1,1755.200383
2,704,55,monthly issuance,93,1,1,1424.108906
3,2378,16,monthly issuance,93,1,1,2376.927362
4,2632,24,monthly issuance,93,1,2,1326.053913

##### Clusters

In [29]:
import src.stats.clusters as clusters
#clusters.cluster_monthly_payment_per_loan_amount(loans_dev)
#clusters.cluster_monthly_payment_per_loan_amount(loans_comp)

In [30]:
table = clusters.cluster_transactions(transactions)
accounts = pd.merge(accounts, table, on='account_id', how='left')
accounts.head()

(3724, 10)

,account_id,district_id,account_frequency,account_year,account_month,account_day,account_average_balance,transaction_profile
0,576,55,monthly issuance,93,1,1,995.213406,2
1,3818,74,monthly issuance,93,1,1,1755.200383,3
2,704,55,monthly issuance,93,1,1,1424.108906,3
3,2378,16,monthly issuance,93,1,1,2376.927362,2
4,2632,24,monthly issuance,93,1,2,1326.053913,3

In [31]:
new_districts_table = clusters.cluster_districts(districts)
print(districts.shape)
print(new_districts_table.shape)

new_districts_table.head()

(77, 11)
(77, 3)

   district_id  districts_profile  district_average_salary
0            1                  1                    12541
1            2                  0                     8507
2            3                  8                     8980
3            4                  2                     9753
4            5                  0                     9307

#### Merging the data

The model will be working on the `loans` table, since the target variable belongs to it. The one foreign key of that table is `account_id`; so, to feed the model with more information about the context of the loan, we should relate concepts to the account for each table.

##### Relating clients to districts

In [32]:
import src.feature_engineering.merge as merge

clients = merge.merge_client_districts(clients, new_districts_table)
clients.rename(columns={'district_id': 'client_district_id'}, inplace=True)
clients.head()

,client_id,year,month,day,gender,owner_districts_profile,owner_district_average_salary
0,1,70,12,13,female,8,8968
1,2,45,2,4,male,1,12541
2,3,40,10,9,female,1,12541
3,4,56,12,1,male,0,9307
4,5,60,7,3,female,0,9307

##### Relating dispositions to clients

In [33]:
dispositions = merge.merge_dispositions_clients(dispositions, clients)
dispositions.head()

,disp_id,account_id,type,number_account_dispositions,client_year,client_month,client_day,client_gender,owner_districts_profile,owner_district_average_salary
0,1,1,OWNER,1,70,12,13,female,8,8968
1,2,2,OWNER,2,45,2,4,male,1,12541
2,3,2,DISPONENT,2,40,10,9,female,1,12541
3,4,3,OWNER,2,56,12,1,male,0,9307
4,5,3,DISPONENT,2,60,7,3,female,0,9307

##### Relating dispositions to cards

In [34]:
dispositions = merge.merge_dispositions_cards(dispositions, cards) # cards are not enough; too many nans, check and discard
dispositions.head()

,disp_id,account_id,type,number_account_dispositions,client_year,client_month,client_day,client_gender,owner_districts_profile,owner_district_average_salary,card_type
0,1,1,OWNER,1,70,12,13,female,8,8968,missing
1,2,2,OWNER,2,45,2,4,male,1,12541,missing
2,3,2,DISPONENT,2,40,10,9,female,1,12541,missing
3,4,3,OWNER,2,56,12,1,male,0,9307,missing
4,5,3,DISPONENT,2,60,7,3,female,0,9307,missing

##### Relating owner dispositions to accounts

Only owners can ask for loans. This way, we can directly relate an account to its owner client.

In [35]:
accounts = merge.merge_account_dispositions(accounts, dispositions)
accounts.head()

,account_id,district_id,account_frequency,account_year,account_month,account_day,account_average_balance,transaction_profile,number_account_dispositions,owner_year,owner_month,owner_day,owner_gender,owner_districts_profile,owner_district_average_salary,card_type
0,576,55,monthly issuance,93,1,1,995.213406,2,2,36,1,11,female,3,10673,missing
1,3818,74,monthly issuance,93,1,1,1755.200383,3,2,35,4,2,male,1,12541,missing
2,704,55,monthly issuance,93,1,1,1424.108906,3,2,45,1,14,male,4,8620,missing
3,2378,16,monthly issuance,93,1,1,2376.927362,2,1,75,3,24,female,0,8427,missing
4,2632,24,monthly issuance,93,1,2,1326.053913,3,1,38,8,12,male,5,8991,missing

In [36]:
accounts = merge.merge_accounts_districts(accounts, new_districts_table)
accounts.rename(columns={'district_id': 'account_district_id'}, inplace=True)
accounts.head()

,account_id,account_frequency,account_year,account_month,account_day,account_average_balance,transaction_profile,number_account_dispositions,owner_year,owner_month,owner_day,owner_gender,owner_districts_profile,owner_district_average_salary,card_type,account_districts_profile,account_district_average_salary
0,576,monthly issuance,93,1,1,995.213406,2,2,36,1,11,female,3,10673,missing,2,8743
1,3818,monthly issuance,93,1,1,1755.200383,3,2,35,4,2,male,1,12541,missing,3,10673
2,704,monthly issuance,93,1,1,1424.108906,3,2,45,1,14,male,4,8620,missing,2,8743
3,2378,monthly issuance,93,1,1,2376.927362,2,1,75,3,24,female,0,8427,missing,0,8427
4,2632,monthly issuance,93,1,2,1326.053913,3,1,38,8,12,male,5,8991,missing,5,8991

##### Loading the loans table with data

In [37]:
accounts.rename(columns = {'year':'account_year', 'month':'account_month', 'day':'account_day', 'frequency': 'account_frequency', 'district_id': 'account_district_id'}, inplace=True)
loans_dev = loans_dev.merge(accounts, on="account_id", how="left")
loans_comp = loans_comp.merge(accounts, on="account_id", how="left")
loans_dev.drop(columns=['account_id'], inplace=True)
loans_comp.drop(columns=['account_id'], inplace=True)
loans_dev.head()

,loan_id,amount,duration_months,monthly_payment,status,year,month,day,account_frequency,account_year,account_month,account_day,account_average_balance,transaction_profile,number_account_dispositions,owner_year,owner_month,owner_day,owner_gender,owner_districts_profile,owner_district_average_salary,card_type,account_districts_profile,account_district_average_salary
0,5314,3950.66,12,329.22,-1,93,7,5,weekly issuance,93,3,22,502.047500,4,1,47,7,22,female,0,9650,missing,0,9650
1,5316,6801.64,36,188.93,1,93,7,11,monthly issuance,93,2,13,2134.584324,4,1,68,7,22,male,9,8369,missing,9,8369
2,6863,5208.20,60,86.80,1,93,7,28,monthly issuance,93,2,8,1232.007083,4,1,36,6,2,male,8,8390,missing,8,8390
3,5325,4336.23,36,120.45,1,93,8,3,monthly issuance,93,1,30,1692.519600,4,1,40,4,20,female,2,10045,missing,9,8754
4,7240,11259.84,60,187.66,1,93,9,6,weekly issuance,93,2,14,2343.778889,4,1,78,9,7,male,0,8288,missing,1,12541

##### Feature selection and engineering on the loans table

In [38]:
import src.preprocess.util as utils
loans_dev['age_at_loan'] = loans_dev.apply(lambda row: utils.extract_age(row), axis=1)
loans_comp['age_at_loan'] = loans_comp.apply(lambda row: utils.extract_age(row), axis=1)

loans_dev = loans_dev.drop(columns=["account_month", "account_day", "month", "day", "owner_day", "owner_month", "account_year",  "owner_year", "year", "owner_gender"])
loans_comp = loans_comp.drop(columns=["account_month", "account_day", "month", "day", "owner_day", "owner_month", "account_year",  "owner_year", "year", "owner_gender"])

loans_dev.head(5)

,loan_id,amount,duration_months,monthly_payment,status,account_frequency,account_average_balance,transaction_profile,number_account_dispositions,owner_districts_profile,owner_district_average_salary,card_type,account_districts_profile,account_district_average_salary,age_at_loan
0,5314,3950.66,12,329.22,-1,weekly issuance,502.047500,4,1,0,9650,missing,0,9650,45
1,5316,6801.64,36,188.93,1,monthly issuance,2134.584324,4,1,9,8369,missing,9,8369,24
2,6863,5208.20,60,86.80,1,monthly issuance,1232.007083,4,1,8,8390,missing,8,8390,57
3,5325,4336.23,36,120.45,1,monthly issuance,1692.519600,4,1,2,10045,missing,9,8754,53
4,7240,11259.84,60,187.66,1,weekly issuance,2343.778889,4,1,0,8288,missing,1,12541,14

### Training the model

#### One hot encoding

In [39]:
print(len(loans_dev.columns) == len(loans_comp.columns))

loans_dev = utils.extract_categorical(loans_dev, "account_frequency")
loans_comp = utils.extract_categorical(loans_comp, "account_frequency")
loans_dev = utils.extract_categorical(loans_dev, "card_type")
loans_comp = utils.extract_categorical(loans_comp, "card_type")
#loans_dev = utils.extract_categorical(loans_dev, "owner_gender")
#loans_comp = utils.extract_categorical(loans_comp, "owner_gender")

loans_dev.head()

True

,loan_id,amount,duration_months,monthly_payment,status,account_average_balance,transaction_profile,number_account_dispositions,owner_districts_profile,owner_district_average_salary,account_districts_profile,account_district_average_salary,age_at_loan,issuance after transaction,monthly issuance,weekly issuance,classic,gold,junior,missing
0,5314,3950.66,12,329.22,-1,502.047500,4,1,0,9650,0,9650,45,0,0,1,0,0,0,1
1,5316,6801.64,36,188.93,1,2134.584324,4,1,9,8369,9,8369,24,0,1,0,0,0,0,1
2,6863,5208.20,60,86.80,1,1232.007083,4,1,8,8390,8,8390,57,0,1,0,0,0,0,1
3,5325,4336.23,36,120.45,1,1692.519600,4,1,2,10045,9,8754,53,0,1,0,0,0,0,1
4,7240,11259.84,60,187.66,1,2343.778889,4,1,0,8288,1,12541,14,0,0,1,0,0,0,1

#### Predicting and evaluating with the main model

Evaluate classification model performance with loans table

In [40]:
from sklearn.ensemble import *
from sklearn.feature_selection import *
from sklearn.metrics import *
from sklearn.model_selection import *
from sklearn.neighbors import *
from sklearn.svm import *
from sklearn.tree import *
from sklearn.linear_model import *
from sklearn.gaussian_process import *
from sklearn.naive_bayes import *
from sklearn.neural_network import *
from sklearn.preprocessing import *
from src.model.model import *

from sklearn.pipeline import Pipeline

x_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy="smote_tomek", \
    sort_by_date=False, train_ratio=0.8, random_state=0)

clf = Pipeline([
    #('scaler', StandardScaler()),
    ('select_features', SelectKBest(f_classif, k=10)),
    ('classifier', RandomForestClassifier(random_state=0, n_estimators=500))
])

# Train it with data
clf.fit(x_train, y_train)

if len(y_test) > 0: # not training with entire dataset
    # Predict the test data for dev and evaluate
    predictions_dev = clf.predict(x_test)
    predictions_dev_prob = clf.predict_proba(x_test)

    # Evaluate
    print('Recall: ', recall_score(y_test, predictions_dev, pos_label=-1))
    print('Accuracy: ', accuracy_score(y_test, predictions_dev))
    print('Precision: ', precision_score(y_test, predictions_dev, pos_label=-1))
    print('F-Score: ', f1_score(y_test, predictions_dev, pos_label=-1))
    print("AUROC: ", roc_auc_score(y_test, predictions_dev_prob[:, 1]))
    print("Dev self_confidence_score: ", self_confidence_score(predictions_dev_prob[:, 1]))

    # Write the dev predictions to a file
    predictions_dev_id = x_test["loan_id"]
    predictions_dev_debt = [x[0] for x in predictions_dev_prob]
    predictions_df_dev = pd.DataFrame({"Id": predictions_dev_id, "Predicted": predictions_dev_debt, "Actual": y_test})
    predictions_df_dev.to_csv("output/predictions_dev.csv", index=False)

# Predict the competition data with probabilities
loans_comp_indep = loans_comp.drop(axis=1, columns=["status"])
predictions_comp_prob = clf.predict_proba(loans_comp_indep)
predictions_comp = clf.predict(loans_comp_indep)
print("Competition self_confidence_score: ", self_confidence_score(predictions_comp_prob[:, 1]))

# Write the comp predictions to a file
predictions_comp_debt = [x[0] for x in predictions_comp_prob]
predictions_comp_id = loans_comp["loan_id"].tolist()
predictions_df_comp = pd.DataFrame({"Id": predictions_comp_id, "Predicted": predictions_comp_debt})
predictions_df_comp.to_csv("output/predictions_comp.csv", index=False)

Recall:  0.6666666666666666
Accuracy:  0.8787878787878788
Precision:  0.4
F-Score:  0.5
AUROC:  0.8805555555555554
Dev self_confidence_score:  0.6216363636363635
Competition self_confidence_score:  0.5463728813559319

#### Predicting and evaluating with multiple pipelines

Text

In [41]:
import warnings
warnings.filterwarnings("ignore")

no_different_splits = 6 # change this to a lower number if you want to test the code faster
samplers = [
  #None,
  "smote", # over-sampling
  "adasyn", # over-sampling
  "tomek_links", # under-sampling
  "smote_tomek", # over- and under-sampling
  "smote_enn", # over- and under-sampling
]
feature_selectors = [
  #None,
  VarianceThreshold(threshold=0.16), # remove features with low variance
  #SelectFromModel(DecisionTreeClassifier(), max_features=10),
  #SelectFromModel(DecisionTreeClassifier()),
  SelectKBest(f_classif, k=5), # keep only the 10 best features
  SelectKBest(f_classif, k=6), # keep only the 10 best features
  SelectKBest(f_classif, k=7), # keep only the 10 best features
  SelectKBest(f_classif, k=8), # keep only the 10 best features
  SelectKBest(f_classif, k=9), # keep only the 10 best features
  SelectKBest(f_classif, k=10), # keep only the 10 best features
]
classifiers = [
    # neighbors
    #KNeighborsClassifier(),
    # linear learners
    #SVC(random_state=0, probability=True),
    # probability-based
    #GaussianNB(),
    # trees
    #DecisionTreeClassifier(random_state=0),
    # ensemble methods
    RandomForestClassifier(random_state=0, n_estimators=100, n_jobs=-1),
    #AdaBoostClassifier(random_state=0, n_estimators=200),
    #VotingClassifier([('rf', RandomForestClassifier(random_state=0, n_estimators=200)), ('ab', AdaBoostClassifier(random_state=0, n_estimators=200))], voting='soft'),
    # neural networks
    #MLPClassifier(hidden_layer_sizes=(150,100,50), max_iter=300, random_state=0),
]

aucs = {}
# populate aucs
for sampler in samplers:
  for feature_selector in feature_selectors:
    for classifier in classifiers:
      print("|", end="") # simple progress indicator
      aucs[(sampler, feature_selector, classifier)] = []

print("")
for sampler in samplers:
  for feature_selector in feature_selectors:
    for classifier in classifiers:
      print("|", end="") # simple progress indicator
      for random_state in range(no_different_splits): # split differently each time

        x_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy=sampler, \
          sort_by_date=False, train_ratio=0.8, random_state=random_state, drop_columns=["loan_id"])
        columns = x_train.columns

        if feature_selector is not None:
          feature_selector.fit(x_train, y_train)
          x_train = feature_selector.transform(x_train)
          x_test = feature_selector.transform(x_test)

        # Train it with data
        classifier.fit(x_train, y_train)

        # Predict the test data for dev and evaluate
        predictions_dev = classifier.predict(x_test)
        predictions_dev_prob = classifier.predict_proba(x_test)

        # Evaluate
        auc = roc_auc_score(y_test, predictions_dev_prob[:, 1])
        aucs[(sampler, feature_selector, classifier)] += [auc]

print("")
sorted_aucs = sorted(aucs.items(), key=lambda x: min(x[1]), reverse=True)
for auc in sorted_aucs:
  print(auc[0])
  print(auc[1])
  print(sum(auc[1]) / len(auc[1]), min(auc[1]), max(auc[1]))
  print("")

|||||||||||||||||||||||||||||||||||
|||||||||||||||||||||||||||||||||||
('smote', SelectKBest(k=5), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8208333333333333, 0.8200290275761972, 0.7384987893462469, 0.7794642857142857, 0.6813271604938271, 0.7777777777777778]
0.7696550623736114 0.6813271604938271 0.8208333333333333

('smote_tomek', SelectKBest(k=5), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8277777777777777, 0.7902757619738752, 0.7276029055690072, 0.755357142857143, 0.6743827160493826, 0.7680311890838206]
0.7572379155518344 0.6743827160493826 0.8277777777777777

('adasyn', SelectKBest(k=5), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.825, 0.7191582002902759, 0.6888619854721549, 0.7723214285714286, 0.6720679012345678, 0.7846003898635477]
0.7436683175719959 0.6720679012345678 0.825

('smote', SelectKBest(), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8555555555555556, 0.7075471698113207, 0.6694915254237289, 0.7973214285714286, 0.6774691358024691, 0.7456140350877193]
0.742166475042037 0.6694915254237289 0.8555555555555556

('smote_enn', SelectKBest(k=8), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8375, 0.6915820029027577, 0.6682808716707023, 0.7883928571428572, 0.7052469135802469, 0.7387914230019493]
0.7382990113830855 0.6682808716707023 0.8375

('smote', SelectKBest(k=7), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8277777777777778, 0.7227866473149492, 0.6779661016949153, 0.8205357142857143, 0.6666666666666666, 0.7768031189083819]
0.7487560044414009 0.6666666666666666 0.8277777777777778

('tomek_links', SelectKBest(), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.7680555555555556, 0.6756168359941944, 0.6573849878934624, 0.7053571428571429, 0.7492283950617284, 0.7680311890838206]
0.7206123510743173 0.6573849878934624 0.7680555555555556

('smote_enn', SelectKBest(k=9), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8583333333333334, 0.6966618287373004, 0.6561743341404359, 0.7723214285714286, 0.7253086419753086, 0.6939571150097466]
0.7337927802945923 0.6561743341404359 0.8583333333333334

('adasyn', SelectKBest(), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.9111111111111111, 0.7431059506531206, 0.652542372881356, 0.7741071428571429, 0.6805555555555555, 0.776803118908382]
0.7563708753277779 0.652542372881356 0.9111111111111111

('smote', SelectKBest(k=9), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.7847222222222223, 0.7264150943396226, 0.6489104116222761, 0.7857142857142857, 0.6990740740740741, 0.7709551656920078]
0.7359652089440814 0.6489104116222761 0.7857142857142857

('smote', SelectKBest(k=8), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8180555555555555, 0.7293178519593614, 0.6343825665859564, 0.7875, 0.6905864197530864, 0.8245614035087718]
0.7474006328937884 0.6343825665859564 0.8245614035087718

('adasyn', SelectKBest(k=9), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8458333333333333, 0.7082728592162554, 0.6271186440677967, 0.7857142857142858, 0.6751543209876543, 0.7777777777777778]
0.7366452035161838 0.6271186440677967 0.8458333333333333

('tomek_links', SelectKBest(k=8), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.7236111111111112, 0.6850507982583455, 0.6271186440677967, 0.7589285714285715, 0.7592592592592592, 0.7446393762183237]
0.7164346267239012 0.6271186440677967 0.7592592592592592

('tomek_links', SelectKBest(k=5), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.763888888888889, 0.6741654571843251, 0.6246973365617434, 0.7053571428571429, 0.7214506172839507, 0.7894736842105263]
0.7131721878310961 0.6246973365617434 0.7894736842105263

('tomek_links', SelectKBest(k=7), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.7986111111111112, 0.6596516690856314, 0.6246973365617434, 0.7598214285714285, 0.7430555555555556, 0.7923976608187134]
0.729705793617364 0.6246973365617434 0.7986111111111112

('smote_tomek', SelectKBest(k=8), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8138888888888889, 0.7184325108853411, 0.6246973365617434, 0.8142857142857143, 0.6766975308641976, 0.8235867446393762]
0.7452647876875437 0.6246973365617434 0.8235867446393762

('smote_tomek', SelectKBest(k=9), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8402777777777778, 0.7111756168359942, 0.6246973365617433, 0.8133928571428571, 0.7175925925925927, 0.7475633528265108]
0.7424499222895792 0.6246973365617433 0.8402777777777778

('smote_tomek', SelectKBest(k=6), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.825, 0.7619738751814223, 0.6234866828087168, 0.83125, 0.6304012345679013, 0.7962962962962963]
0.7447346814757229 0.6234866828087168 0.83125

('smote_tomek', SelectKBest(k=7), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8444444444444444, 0.7206095791001452, 0.6234866828087168, 0.8312499999999999, 0.7237654320987654, 0.7933723196881092]
0.7561547430233636 0.6234866828087168 0.8444444444444444

('tomek_links', SelectKBest(k=9), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.7694444444444444, 0.6298984034833093, 0.6198547215496368, 0.692857142857143, 0.7731481481481481, 0.7933723196881092]
0.7130958633617985 0.6198547215496368 0.7933723196881092

('adasyn', SelectKBest(k=7), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8569444444444444, 0.741654571843251, 0.6162227602905569, 0.7892857142857143, 0.6890432098765432, 0.7894736842105263]
0.7471040641585059 0.6162227602905569 0.8569444444444444

('smote_enn', SelectKBest(k=7), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8333333333333334, 0.6814223512336719, 0.6150121065375302, 0.8160714285714287, 0.720679012345679, 0.7690058479532165]
0.7392540133291433 0.6150121065375302 0.8333333333333334

('smote_tomek', SelectKBest(), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.9097222222222222, 0.7249637155297532, 0.612590799031477, 0.7803571428571429, 0.7145061728395061, 0.760233918128655]
0.7503956617681261 0.612590799031477 0.9097222222222222

('smote_enn', SelectKBest(k=6), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8291666666666667, 0.6538461538461539, 0.612590799031477, 0.8169642857142856, 0.7091049382716049, 0.7553606237816763]
0.7295055778853107 0.612590799031477 0.8291666666666667

('tomek_links', SelectKBest(k=6), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.7180555555555554, 0.6995645863570391, 0.6101694915254237, 0.7107142857142857, 0.7322530864197531, 0.7602339181286549]
0.7051651539501186 0.6101694915254237 0.7602339181286549

('adasyn', SelectKBest(k=8), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8597222222222223, 0.6719883889695211, 0.6065375302663438, 0.7419642857142856, 0.6905864197530865, 0.8372319688109162]
0.7346718026227292 0.6065375302663438 0.8597222222222223

('tomek_links', VarianceThreshold(threshold=0.16), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8263888888888888, 0.6328011611030478, 0.6065375302663438, 0.6160714285714286, 0.7708333333333334, 0.7875243664717348]
0.7066927847724629 0.6065375302663438 0.8263888888888888

('smote', SelectKBest(k=6), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.826388888888889, 0.7605224963715529, 0.5968523002421308, 0.8276785714285714, 0.683641975308642, 0.7884990253411306]
0.7472638762634861 0.5968523002421308 0.8276785714285714

('smote_enn', SelectKBest(), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8555555555555555, 0.6444121915820029, 0.5944309927360776, 0.7946428571428571, 0.6952160493827161, 0.6861598440545807]
0.711736248408965 0.5944309927360776 0.8555555555555555

('smote_enn', SelectKBest(k=5), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.7777777777777778, 0.7314949201741654, 0.5907990314769976, 0.8035714285714286, 0.7716049382716049, 0.7358674463937621]
0.7351859237776227 0.5907990314769976 0.8035714285714286

('smote', VarianceThreshold(threshold=0.16), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8166666666666667, 0.5805515239477503, 0.5944309927360776, 0.75, 0.7021604938271604, 0.7037037037037037]
0.6912522301468931 0.5805515239477503 0.8166666666666667

('adasyn', SelectKBest(k=6), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.7972222222222223, 0.7365747460087084, 0.5690072639225181, 0.7946428571428573, 0.6844135802469136, 0.7904483430799221]
0.7287181687705236 0.5690072639225181 0.7972222222222223

('smote_tomek', VarianceThreshold(threshold=0.16), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.875, 0.6284470246734397, 0.5605326876513318, 0.7169642857142857, 0.6952160493827161, 0.6890838206627681]
0.6942073113474235 0.5605326876513318 0.875

('adasyn', VarianceThreshold(threshold=0.16), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8180555555555555, 0.5544267053701015, 0.5980629539951573, 0.7607142857142857, 0.6805555555555555, 0.753411306042885]
0.6942043937055901 0.5544267053701015 0.8180555555555555

('smote_enn', VarianceThreshold(threshold=0.16), RandomForestClassifier(n_jobs=-1, random_state=0))
[0.8347222222222223, 0.6008708272859217, 0.5484261501210654, 0.7142857142857143, 0.6388888888888888, 0.5964912280701754]
0.6556141718123313 0.5484261501210654 0.8347222222222223

#### Hyper parameter tuning the best pipeline

In [42]:
""" from sklearn.model_selection import RandomizedSearchCV

n_estimators = [int(x) for x in np.linspace(start = 200, stop = 1000, num = 9)]
max_features = ['log2', 'sqrt', None]
max_depth = [int(x) for x in np.linspace(10, 80, num = 8)] + [None]
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4]
bootstrap = [True, False]
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

x_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy="adasyn", \
          sort_by_date=False, train_ratio=0.8, random_state=0)

rf = RandomForestRegressor()
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 5, verbose=2, random_state=0, n_jobs = -1)
rf_random.fit(x_train, y_train)
print(rf_random.best_params_)

# Extract best parameters
n_estimators = rf_random.best_params_['n_estimators']
max_features = rf_random.best_params_['max_features']
max_depth = rf_random.best_params_['max_depth']
min_samples_split = rf_random.best_params_['min_samples_split']
min_samples_leaf = rf_random.best_params_['min_samples_leaf']
bootstrap = rf_random.best_params_['bootstrap']

# Train and evaluate the model with the best parameters
auc_sum = 0
for random_state in range(no_different_splits):
    x_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy="adasyn", \
            sort_by_date=False, train_ratio=0.8, random_state=random_state)
    rf = RandomForestClassifier(n_estimators=n_estimators, max_features=max_features, max_depth=max_depth, min_samples_split=min_samples_split, min_samples_leaf=min_samples_leaf, bootstrap=bootstrap, random_state=0)
    rf.fit(x_train, y_train)
    predictions_proba = rf.predict_proba(x_test)

    # Evaluate
    auc = roc_auc_score(y_test, predictions_proba[:, 1])
    print(auc)
    auc_sum += auc
print("Average AUC: " + str(auc_sum / no_different_splits)) """

' from sklearn.model_selection import RandomizedSearchCV\n\nn_estimators = [int(x) for x in np.linspace(start = 200, stop = 1000, num = 9)]\nmax_features = [\'log2\', \'sqrt\', None]\nmax_depth = [int(x) for x in np.linspace(10, 80, num = 8)] + [None]\nmin_samples_split = [2, 5, 10]\nmin_samples_leaf = [1, 2, 4]\nbootstrap = [True, False]\nrandom_grid = {\'n_estimators\': n_estimators,\n               \'max_features\': max_features,\n               \'max_depth\': max_depth,\n               \'min_samples_split\': min_samples_split,\n               \'min_samples_leaf\': min_samples_leaf,\n               \'bootstrap\': bootstrap}\n\nx_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy="adasyn",           sort_by_date=False, train_ratio=0.8, random_state=0)\n\nrf = RandomForestRegressor()\nrf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 5, verbose=2, random_state=0, n_jobs = -1)\nrf_random.fit(x_train, y_train)\nprint(rf_random.best_params_)\n\n# Extract best parameters\nn_estimators = rf_random.best_params_[\'n_estimators\']\nmax_features = rf_random.best_params_[\'max_features\']\nmax_depth = rf_random.best_params_[\'max_depth\']\nmin_samples_split = rf_random.best_params_[\'min_samples_split\']\nmin_samples_leaf = rf_random.best_params_[\'min_samples_leaf\']\nbootstrap = rf_random.best_params_[\'bootstrap\']\n\n# Train and evaluate the model with the best parameters\nauc_sum = 0\nfor random_state in range(no_different_splits):\n    x_train, x_test, y_train, y_test = train_test_split_unbalanced(loans_dev, "status", sampling_strategy="adasyn",             sort_by_date=False, train_ratio=0.8, random_state=random_state)\n    rf = RandomForestClassifier(n_estimators=n_estimators, max_features=max_features, max_depth=max_depth, min_samples_split=min_samples_split, min_samples_leaf=min_samples_leaf, bootstrap=bootstrap, random_state=0)\n    rf.fit(x_train, y_train)\n    predictions_proba = rf.predict_proba(x_test)\n\n    # Evaluate\n    auc = roc_auc_score(y_test, predictions_proba[:, 1])\n    print(auc)\n    auc_sum += auc\nprint("Average AUC: " + str(auc_sum / no_different_splits)) '